.info {
    display: flex;
    gap: 8px;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.cards-container-finish {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(127, 255, 212, 0.281);
}

.card-adds-finish {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    display: flex;
    box-sizing: border-box;
    margin: auto;
}

.card-adds-finish:first-child{
    border-bottom: 1px solid rgba(75, 74, 74, 0.404);
}
.price {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.61);
}

.card:focus {
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.info h2,
.info h3,
.info h6 {
    color: hsla(240, 93%, 17%, 0.945);
    margin: 5px 0 0;
}

@media (max-width: 767px) {
    .cards-container {
        flex-wrap: wrap;
    }

    .details {
        width: 90%;
        background-color: #fff;
        border-radius: 15px;
        height: fit-content;
        margin-top: -150px;
        z-index: 1;
        padding: 25px 0;
    }

    h4 {
        margin: 5px 0 0;
    }
}